/*Generale*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Fraunces";
    line-height: 24px;
    font-weight: 700;
    font-size: 14px;
}

a{
    color: white;
    list-style-type: none;
    text-decoration: none;
}

h1{
    letter-spacing: 10px;
    font-weight: 900;
    text-align: center;
    color: white;
    margin-top: 30px;
}

h2{
    line-height: 48px;
    font-size: 40px;
    font-weight: revert;
}

h3{
    font-size: 28px;
    opacity: 0.6;
}

.imageContainer div img{
    border-radius: 100%;
    max-width:20%;
}

/*Contenitori*/
.headerContainer{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 30px;
    background-color: #3EBFFF;
}

.headerContainer>span{
    font-family: "Barlow";
    letter-spacing: 1px;
    font-size: 32px;
}

.imageContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: 2% auto;
}

.imageContainer>h4{
    letter-spacing: 3px;
    font-weight: 900;
    text-align: center;
    grid-column: 3 span;
    margin: 6% 0 0 0;
    color: grey;
}

.imageContainer div{
    text-align: center;
    justify-content: center;
    padding: 20px 35px;
    color: hsl(232, 10%, 55%);
}

.imageContainer div p{
    margin: 40px 0;
}

.headerList{
    display: flex;
    list-style-type: none;
}

.headerList li a{
    margin: 0 14px;
}

.contact{
    color: black;
    background-color: white;
    padding: 15px 20px;
    text-align: center;
    border-radius: 30px;
}

.containerGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:  repeat(4, 1fr);
    background-color: cadetblue;
}
/*Struttura griglia*/
.grid1,
.grid8,
.grid13{
    grid-column: 4 span;
}

.grid2,
.grid3,
.grid4,
.grid5,
.grid6,
.grid7{
    grid-column: 2 span;
    height: 500px;
}

.grid9,
.grid10,
.grid11,
.grid12{
    height: 500px;
}

/*Singole griglie*/
.grid1{
    background-image: url(img/desktop/image-header.jpg);
    background-size: cover;
    background-position-y:90%;
}

.grid2{
    background-color: white;
}

.gridContent>p{
    color: hsl(232, 10%, 55%);
    line-height: 24px;
    margin: 40px 0;
}

.gridContent>a{
    color: black;
}

.grid2>div,
.grid5>div{
    border: 0;
    padding: 20px;
    height: 65%;
    width: 75%;
    margin: 12% auto;
    letter-spacing: 1px;
}

.grid3{
    background-image: url(img/desktop/image-transform.jpg);
    background-size: cover;
    background-position-y: 40%;
}

.grid4{
    background-image: url(img/desktop/image-stand-out.jpg);
    background-size: cover;
    background-position-y: 40%;
}

.grid5{
    background-color: white;
}

.grid6{
    background-image: url(img/desktop/image-graphic-design.jpg);
    background-size: cover;
    background-position-y: 40%;
}

.smallContainer{
    text-align: center;
    width: 60%;
    margin: 48% auto 6%;
}

.smallContainer>p{
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin: 20px 0;
    opacity: 0.5;
}

.grid7{
    background-image: url(img/desktop/image-photography.jpg);
    background-size: cover;
    background-position-y: 30%;
}

.grid8{
    background-color: white;
}

.name span:first-child{
    display: block;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
    color: black;
}

.name span:last-child{
    font-size: 14px;
    color: grey;
}

.grid9{
    background-image: url(img/desktop/image-gallery-milkbottles.jpg);
    background-size: cover;
    background-position-y: 30%;
}

.grid10{
    background-image: url(img/desktop/image-gallery-orange.jpg);
    background-size: cover;
    background-position-y: 30%;
}

.grid11{
    background-image: url(img/desktop/image-gallery-cone.jpg);
    background-size: cover;
    background-position-y: 30%;
}

.grid12{
    background-image: url(img/desktop/image-gallery-sugarcubes.jpg);
    background-size: cover;
    background-position-y: 30%;
}

.grid13{
    background-color: #90D4C5;
}

.footerContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 40%;
    margin: 10% auto 16% auto;
}

.footerContainer>span{
    font-family: "Barlow";
    color: hsl(167, 40%, 24%);
    letter-spacing: 1px;
    font-size: 32px;
    opacity: 0.8;
}

.footerContainer div ul{
    display: flex;
    list-style-type: none;
}

.footerContainer div ul li a{
    color: hsl(167, 40%, 24%);
    font-size: 16px;
    
    opacity: 0.5;
    margin: 0 20px;
}

.footerContainer img{
    margin: 20px 20px 0px 20px;
}
