/*Generale*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Barlow", Arial, Helvetica, sans-serif ;
    font-weight: 700;
    font-size: 18px;
}

a{
    color: white;
    list-style-type: none;
    text-decoration: none;
}

/*Contenitori*/
.headerContainer{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 30px;
    background-color: #3EBFFF;
}

.headerList{
    display: flex;
    list-style-type: none;
}

.headerList li a{
    margin: 0 14px;
}

.contact{
    color: black;
    background-color: white;
    padding: 15px 20px;
    text-align: center;
    border-radius: 30px;
}



.containerGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:  repeat(4, 1fr);
    background-color: cadetblue;
    height: 800px;
}

main div{
    background-color: chocolate;
    height: 400px;
    border: 2px solid black;
}

/*Struttura griglia*/
.grid1,
.grid8,
.grid13{
    grid-column: 4 span;
}

.grid2,
.grid3,
.grid4,
.grid5,
.grid6,
.grid7{
    grid-column: 2 span;
}

/*Singole griglie*/
.grid1{
    background-image: url(img/desktop/image-header.jpg);
    background-size: cover;
    background-position-y: 80%
}

.grid2{
    background-color: white;
}

.grid3{
    background-image: url(img/desktop/image-transform.jpg);
    background-size: cover;
    background-position-y: 40%;
}

.grid4{
    background-image: url(img/desktop/image-stand-out.jpg);
    background-size: cover;
    background-position-y: 40%;
}

.grid5{
    background-color: white;
}

.grid6{
    background-image: url(img/desktop/image-graphic-design.jpg);
    background-size: cover;
    background-position-y: 40%;
}

.grid7{
    background-image: url(img/desktop/image-photography.jpg);
    background-size: cover;
    background-position-y: 30%;
}

.grid8{
    background-color: white;
}

.grid9{
    background-image: url(img/desktop/image-gallery-milkbottles.jpg);
    background-size: cover;
    background-position-y: 30%;
}

.grid10{
    background-image: url(img/desktop/image-gallery-orange.jpg);
    background-size: cover;
    background-position-y: 30%;
}

.grid11{
    background-image: url(img/desktop/image-gallery-cone.jpg);
    background-size: cover;
    background-position-y: 30%;
}

.grid12{
    background-image: url(img/desktop/image-gallery-sugarcubes.jpg);
    background-size: cover;
    background-position-y: 30%;
}

.grid13{
    background-color: #90D4C5;
}